<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style_.css">
    <title>GENE-DT</title>
</head>
<body>
    <div id="entete">
        <div id="logo">GENE-DT</div>
        <div id="rubrique">
            <ul>
                <li id="btnAccueil"><a href="../../index.html">Accueil</a></li>
            </ul>
        </div>
    </div>
    <div id="mur">
        <div id="projet" class="main">
            <h1>Projet Jeunes Entrepreneur(e)s en IA</h1>
            <p>
                Le projet Jeunes Entrepreneur(e)s en IA (JEIA)
                est une initiative du groupe Génération Développement 
                et territoire (GENE-DT).
            </p>
            <h1>Résumé</h1>
            <p>
                Le projet a pour objectif de contribuer à l'insertion 
                socio professionnelle des jeunes à travers un appui en 
                renforcement de capacité. De façon spécifique, il est 
                question d'une part, d'impacter 50 jeunes hommes, 50 
                jeunes filles soit cent (100) jeunes pour un renforcement 
                de capacité sur des compétences relevant de l'Intelligence 
                Artificielle. D'autre part, il sera question d'identifier 
                de manière participative des besoins pouvant être satisfaire 
                à travers la mise en place d'IA auprès des acteurs locales, 
                offrant ainsi une première expérience professionnelle aux 
                participants former dans le domaine. Il faut aussi noter que 
                les participants seront outillés et accompagnés à la mise 
                en œuvre d'initiatives entrepreneuriales. Le projet comprend 
                une phase d'apprentissage de 3 mois et une phase d'opérationnalisation 
                des idées d'entreprises de 9 mois.
            </p>
            <ul>
                <li>Lieu : Porto-Novo; Bénin</li>
                <li>Nombre de bénéficiaires directes: 100 [50 femmes / 50 hommes]; 25 
                    promoteurs d'initiatives locales</li>
                <li>Durée d'exécution : 12 mois</li>
                <li>Coût global : 16 000 000 FCFA</li>
            </ul>
            <h1>Objectif Global</h1>
            <p>
                Contribuer à la résilience économique et technologique à 
                travers la promotion des initiatives entrepreneuriales en IA
            </p>
            <h1>Résultats attendus</h1>
            <ul>
                <li>Les jeunes de Porto-Novo ont été outillés sur des compétences en IA</li>
                <li>Les participants ont été accompagnés à l'entrepreneuriat digitale</li>
                <li>Des initiatives locales partenaires ont été accompagnées pour une introduction de l'IA</li>
            </ul>
        </div>
    </div>
    <div id="pied">
        <div id="reseaux-sociaux">
            <p>Suivez-nous!</p>
            <a target="_blank" href="#">
                <img src="../../image/logo-facebook.png" alt="logo-facebook">
            </a>
            <a target="_blank" href="#">
                <img src="../../image/LinkedIn-Symbole.png" alt="logo-linkedIn">
            </a>
            <a target="_blank" href="#">
                <img src="../../image/logo-github.png" alt="logo-github">
            </a>
        </div>
        Copyright &copy; Avril 2023 GENE-DT. Tous droits réservés
    </div>
</body>
</html>
