<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../style.css">
    <link rel="stylesheet" type="text/css" href="style_projet.css">
    <title>GENE-DT</title>
</head>
<body>
    <div id="entete">
        <div id="logo">GENE-DT</div>
        <div id="rubrique">
            <ul>
                <li id="btnAccueil"><a href="../../index.html">Accueil</a></li>
            </ul>
        </div>
    </div>
    <div id="mur">
        <div id="projet" class="main">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Iusto quaerat, quos deleniti explicabo laboriosam unde, 
            perferendis eveniet nulla est consequuntur molestiae itaque 
            odio quasi, quod corporis porro reiciendis ipsa illum.
        </div>
    </div>
    <div id="pied">
        <div id="reseaux-sociaux">
            <p>Suivez-nous!</p>
            <a target="_blank" href="#">
                <img src="../../image/logo-facebook.png" alt="logo-facebook">
            </a>
            <a target="_blank" href="#">
                <img src="../../image/LinkedIn-Symbole.png" alt="logo-linkedIn">
            </a>
            <a target="_blank" href="#">
                <img src="../../image/logo-github.png" alt="logo-github">
            </a>
        </div>
        Copyright &copy; Avril 2023 GENE-DT. Tous droits réservés
    </div>
</body>
</html>
