.presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff;
    margin: 10px 12% 20px 12%;
}

.carte {
    height: 400px;
    border-radius: 10px;
    /*border: 1px solid rgb(50, 73, 36);*/
    margin: 10px 12% 20px 12%;
    padding: 2%;
    line-height: 25px;
    color: rgb(50, 73, 36);
    font-size: 20px;
}

.carte h1 {
    margin: 0 0 5% 2%;
    font-size: 18px;
}

.carte:hover {
    background-color: rgb(50, 73, 36);
    color: #ffffff;
    box-shadow: 5px 5px 5px 0px #636363;

}

.carte img {
    height: 40%;
    width: auto;
    margin: 0 0 0 25%;
}

@media (max-width: 400px) {
    .presentation {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .carte {
        height: auto;
        max-width: 90%;
    }

    .carte img {
        height: auto;
        width: 50%;
        margin: 0 0 0 25%;
    }
}